// Entry point for your Sass build
@import "application.bootstrap";
// カレンダーの土日の色を変更
.simple-calendar {

  th.wday-0 {
    color: red;
  }
  th.wday-6 {
    color: blue;
  } 

  .wday-6 {
    background-color: #eef7ff; // 薄い水色
  }

  .wday-0 {
    background-color: #fff2f2; // 薄いピンク色
  }

  // ついでに今日の日付も目立たせる
  .today {
    background-color: #fffde6 !important; // 薄い黄色
    font-weight: bold;
    a {
      background-color: #fd0d0d;
      color: white;             /* 文字色を白に */
      width: 2rem;              /* 幅 */
      height: 2rem;             /* 高さ */
      display: inline-flex;     /* 中央揃えのため */
      align-items: center;      /* 中央揃えのため */
      justify-content: center;  /* 中央揃えのため */
      text-decoration: none;    /* 下線を消す */
      &:hover {
        background-color: #0b5ed7; /* 少し濃い青色 */
        color: white;
      }
    }
  }
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.brand-logo {
  font-weight: 700;
}