/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.event-item {
  font-size: 12px;
  margin-top: 4px;
  background-color: #e6f7ff; /* 明るい青色 */
  border: 1px solid #91d5ff; /* 少し濃い青色 */
  border-radius: 4px;
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goal-item {
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
  background-color: #fffbe6; /* 薄い黄色 */
  border: 1px solid #ffe58f; /* 少し濃い黄色 */
  border-radius: 4px;
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}